:root {
  --green: #00ebe7;
  --black: #222;
}

body {
  /* --black: hotpink; */
  background: var(--black);
  color: white;
}

h1 {
  color: var(--green);
}

@media only screen and (max-width: 800px) {
  :root {
    --black: red;
  }
}
